<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href='/urls'><h1>TinyApp</h1></a>
    
      <% if( user.id ){ %>
        <h2> G'Day <%= user.email %>!</h2>
        <form method= "POST" action="/logout">
          <h1><button type="submit">Logout</button></h1>
        </form>
      <% } else { %>
        <a href="login"><h4>Login</h4></a>
          
        <form method="POST" action="/login"> Username: 
          <input type="text" name="username"><button type="submit">Sign In</button><%= username %> 
        </form>

        <form method= "POST" action="/register">
          <h1><button type="submit">Register</button></h1>
        </form>
      <% } %> 
</header>
<body>
    <a href="/urls/">Database</a>
</body>
</html>