<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href="http://localhost:8080/urls/new"><h1>TinyApp</h1></a>
    <a href="http://localhost:8080/register"><h4>Register</h4></a>
    <a href="http://localhost:8080/login"><h4>Login</h4></a>
    
      <% if( user.id ){ %>
        <h2> G'Day <%= user.id %>!</h2>
        <form method= "POST" action="/logout">
          <h1><button type="submit">Logout</button></h1>
        </form>
      <% } else { %>  
        <form method="POST" action="/login"> Username: 
          <input type="text" name="username"><button type="submit">Sign In</button><%= username %> 
        </form>
      <% } %> 
</header>
<body>
  <a href="http://localhost:8080/urls/">Database</a>
</body>
</html>