
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href="http://localhost:8080/urls/new"><h1>TinyApp</h1></a>
</header>
<body>
  <a href="http://localhost:8080/urls/">Database</a>
</body>
</html>