
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href="http://localhost:8080/urls/new"><h1>TinyApp</h1></a>
    <form method="POST" action="/login"> Username: 
      <input type="text" name="username"><button type="submit">Sign In</button>
    </form>
</header>
<body>
  <a href="http://localhost:8080/urls/">Database</a>
</body>
</html>