<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href="http://localhost:8080/urls/new"><h1>TinyApp</h1></a>
    <h2>Login</h2><a href="http://localhost:8080/register"><h4>Register</h4></a>
    <h3> G'Day</h3>
        <form method="POST" action="/register">
            <br> Email:
            <input type="email" name="email">
            <br> Password:
            <input type="password" name="password">
            <br>
            <button type="submit">Register</button>
        </form>
</header>
<body>
  <a href="http://localhost:8080/urls/">Database</a>
</body>
</html>