<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <a href="http://localhost:8080/urls/new"><h1>TinyApp</h1></a>
    <h2>Register</h2>
</header>
<body>
    <form method="POST" action="/register">
        <br> Email:
        <input type="email" name="email">
        <br> Password:
        <input type="password" name="password">
        <br>
        <button type="submit">Register</button>
    </form>
  <a href="http://localhost:8080/urls/">Database</a>
</body>
</html>