

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>
    <h2>List of URLs and their shortened forms</h2>

    <ul>
        <% for (shortURL in urls) { %>
            <li><a href='/urls/<%= shortURL %>'><%= shortURL %></a> --> <%= urls[shortURL]%><form method ="POST" action="/urls/<%= shortURL %>/delete"><button type="submit">Delete</button></form></li>
        <% }; %>
    </ul>

    <a href='/urls/new'>Home</a>
    
    
    <!-- Add your EJS code here -->
</body>
</html>